@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-text: var(--text);
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

:root {
  --primary: #0e0bb9bf;
  --background-light: #f8fafc;
  --background-dark: #0f172a;
}

/* Background image for whole app */
.bg-app {
  background-image: url('/bg.png');
  background-size: cover;        /* keep full screen */
  background-position: center;   /* center the image */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* like wallpaper */
}
